* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Encabezado azul*/

header{
    min-width: 100%;
    display: flex;
    top: 0px;
    left: 0px;
    background: #1554b3;
    font-size: 2rem; 
    color: #fff;
    flex-direction: column;
}


h1{
    margin: 10px;

}

header .contenedor-encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;  
}

/*Diseño del logo*/

.logo{
    display: flex;
    align-items: center;
    left: 100px;
    width: 14%;
    border-right: #ffffff 1px solid;
    padding: 0 1rem;
}

.logo img {
    width: 100%;
}

/*O&T*/

.nombre{
    margin-right: auto;
    padding-left: 30px;
}

/*Menu*/

.contenedor_menu{
    min-width: 100%;
    width: 100%;
    min-height: 75px;
    background: #b31515;
    padding: 0px 50px ;
    font-family: "DM Serif Text", serif;
}

.menu{
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    min-width: 100%;
    margin: auto;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
 nav div{
    display: flex;
 }

nav > ul{
    min-height: 100%;
    display: flex;
    list-style: none;
}


nav ul li{
    min-height: 100%;
    text-decoration: none;
 }
 
 nav > ul > li > a{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 18px;
    color:black;
    font-size: 18px;
    transition: all 300ms ease;
    text-decoration: none;
 }

 nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #e63838;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
 }

.table{
    text-align:center;
    margin: 25px 0;
    font-size: 1em;
    min-width: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
 }

.table .titulos {
    background-color: rgb(19, 30, 172);
    color: #ffffff;
 }

.table tbody tr{       
    border-bottom: 1px solid #dddddd;
 }

.table tbody tr:nth-of-type(even){ /*Este codigo sirve para que una celda quede un color mas oscuro*/
    background-color: #f3f3f3;
}

.modificar{
    display: flex;
    margin-right: 15px;
    margin-left: 20px;
}