 /*Fondo de la seccion*/

 body {
     margin: 0;
     padding: 0;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

 #presenta {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     /*height: 100%;*/
     width: 100%;
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Barberia.jpg);
     color: white;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     overflow: hidden;
 }

 /*Division de tarjetas barberos*/

 .section {
     background-color: grey;
     /*Es el color del fondo de la tarjeta*/
     display: flex;
     /*Sirve para que los elementos se pongan de izquierda a derecha*/
     justify-content: space-between;
     /*A yuda a alinear los elementos*/
     padding: 40px;
     /* Es el especio desde adentro del contenido hacia todos los lados*/
     width: 50%;
     margin: 15px auto;
     /* 15 pixeles desde arriba, abajo y automatico de los lados*/
     border-radius: 20px;
     /*Redondea las puntas*/
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     /*Sombrea la parte de afuera del rectangulo*/
 }

 .section img {
     width: 250px;
     border-radius: 30px;

 }

 .section h1 {
     margin: 0;
     color: black;
 }

 .section p {
     color: black;
     margin-right: 15px;
 }

 .section a {
     margin-bottom: 60px;
     color: #262626;
     text-decoration: none;
     font-size: 14px;
     background: #fff;
     border-radius: 50px;
     text-align: center;
     padding: 7px 19px;
 }

 .section {
     background-color: grey;
     /*Es el color del fondo de la tarjeta*/
     display: flex;
     /*Sirve para que los elementos se pongan de izquierda a derecha*/
     justify-content: space-between;
     /*A yuda a alinear los elementos*/
     padding: 40px;
     /* Es el especio desde adentro del contenido hacia todos los lados*/
     width: 50%;
     margin: 18px auto;
     /* 15 pixeles desde arriba, abajo y automatico de los lados*/
     border-radius: 20px;
     /*Redondea las puntas*/
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     /*Sombrea la parte de afuera del rectangulo*/
 }

 /*Division de tarjetas barberos*/

 .sectio {
     background-color: grey;
     /*Es el color del fondo de la tarjeta*/
     display: flex;
     /*Sirve para que los elementos se pongan de izquierda a derecha*/
     justify-content: space-between;
     /*A yuda a alinear los elementos*/
     padding: 40px;
     /* Es el especio desde adentro del contenido hacia todos los lados*/
     width: 50%;
     margin: 15px auto;
     /* 15 pixeles desde arriba, abajo y automatico de los lados*/
     border-radius: 20px;
     /*Redondea las puntas*/
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     /*Sombrea la parte de afuera del rectangulo*/
 }

 .sectio img {
     width: 150px;
     border-radius: 30px;
     margin-right: 20px;

 }

 .sectio h1 {
     margin: 0;
     color: black;
 }

 .sectio p {
     color: black;
     margin-right: 15px;
 }

 .sectio a {
     margin-bottom: 60px;
     color: #262626;
     text-decoration: none;
     font-size: 14px;
     background: #fff;
     border-radius: 50px;
     text-align: center;
     padding: 7px 19px;
 }

 .sectio {
     background-color: grey;
     /*Es el color del fondo de la tarjeta*/
     display: flex;
     /*Sirve para que los elementos se pongan de izquierda a derecha*/
     justify-content: space-between;
     /*A yuda a alinear los elementos*/
     padding: 40px;
     /* Es el especio desde adentro del contenido hacia todos los lados*/
     width: 50%;
     margin: 18px auto;
     /* 15 pixeles desde arriba, abajo y automatico de los lados*/
     border-radius: 20px;
     /*Redondea las puntas*/
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     /*Sombrea la parte de afuera del rectangulo*/
 }

 button {
     width: 45%;
     margin: 4%;
 }

 .contenedorContraseña {
     display: inline-flex;
     border: 2px solid #d6d6d6;
     border-radius: 10px;
     padding: 10 px;

 }

 .icon {
     height: 1rem;
     margin: 5px;
     cursor: pointer;
 }