 /*Fondo de la seccion*/
 html, body {
    height: auto;
    min-height: 100vh;
}
body {
    overflow: auto;
    min-height: 100vh;
    display: block; /* Asegura que no se limite a flex */

}
.contenedor {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
}
 #presenta {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     flex-direction: column;
     height: 100%;
     width: 100%;
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Barberia.jpg);
     color: white;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     overflow: hidden;
     overflow-y: auto;
 }

 /*Division de tarjetas barberos*/

 .section {
     background-color: grey;
     /*Es el color del fondo de la tarjeta*/
     display: flex;
     /*Sirve para que los elementos se pongan de izquierda a derecha*/
     justify-content: space-between;
     /*A yuda a alinear los elementos*/
     padding: 40px;
     /* Es el especio desde adentro del contenido hacia todos los lados*/
     width: 30%;
     margin: 15px auto;
     /* 15 pixeles desde arriba, abajo y automatico de los lados*/
     border-radius: 20px;
     /*Redondea las puntas*/
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
     /*Sombrea la parte de afuera del rectangulo*/
     color: black;
 }

 .section img {
     width: 10rem;
     border-radius: 2rem;

 }

 .section h1 {
     margin: 0;
     color: black;
     text-align: center;
 }

 .section p {
     color: black;
     margin-right: 15px;
 }

 .section a {
     margin-bottom: 60px;
     color: #262626;
     text-decoration: none;
     font-size: 14px;
     background: #fff;
     border-radius: 50px;
     text-align: center;
     padding: 7px 19px;
 }

 /*Division de tarjetas barberos*/

 .sectio img {
     width: 10rem;
     border-radius: 30px;
     margin-right: 20px;

 }

 .sectio h1 {
     margin: 0;
     color: black;
 }

 .sectio p {
     color: black;
     margin-right: 15px;
 }

 .sectio a {
     margin-bottom: 60px;
     color: #262626;
     text-decoration: none;
     font-size: 14px;
     background: #fff;
     border-radius: 50px;
     text-align: center;
     padding: 7px 19px;
 }

 #button {
     width: 45%;
     background-color: #003399;
     color: white;
    
 }

 .icon {
     height: 1rem;
     margin-bottom: 15rem;
     cursor: pointer;
 }
 #agendarParrafo{
    margin-bottom: 1rem;
 }