.historialCita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: 50vh; 
   
}

.cancelarCita {
    width: 100%;
    align-self: flex-end; 
    text-align: center;
    
}



