#perfil {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#fotoPerfil {
    margin-top: 2rem;
    border-radius: 50%;
    background-size: cover;
    height: 150px;
    width: 150px;

}

#fotoPerfil img {
  height: 12rem;
  width: 8rem; 
  border-radius: 50%;
}

.nombreBarbero {
    margin-top: 5%;
    font-size: 24px;
    /* Tamaño del texto del nombre */
    color: #222222;
}

.infoPerfil {
    margin-bottom: 10rem;
    font-size: 1rem;
    color: #555;
}

#informacion {
    text-align: center;
    margin-left: 6rem;
    color: hsl(0, 0%, 2%);
    font-weight: bold;
}


.galeria {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px; 
  }
  
  .galeria h3 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }
  
  /*.fotos-contenedor {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 1rem; 
  }*/
  .fotos-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem; /* Espacio entre las fotos */
    max-width: 100%; /* Asegúrate de que el contenedor no se desborde */
  }
  
  .foto img {
    width: 20rem; 
    height: 20rem;
    object-fit: cover; 
    border-radius: 5px;  
  }
  
  .btn-guardar {
    min-width: 120px; /* Establece un ancho mínimo */
    text-align: center; /* Centra el texto o ícono */
}