html,body {
     font-size: 1rem; /* 1rem = 16px */
     min-height: 100%;
     height: 100%;
     margin: 0;
    padding: 0;
    }
.main{
    display: grid;
    grid-template-rows: 0.2fr 0.8fr 0.2fr;
    height: 100%;
}

header {
    background-color: #1554b3;
    display: flex;
    align-items: center;
    height: 100%;
}
header div:last-child{
    width: 60%;
    background-color: #1554b3;
}
h1{
    margin: 0;
    color: #ffffff;
    font-size: 3rem;
    margin-left: 6rem;
}
.logo {
    display: flex;
    align-items: center;
    width: 10%;
    border-right: #ffffff 1px solid;
    padding: 0 3rem;
}
.logo img{
    width: 100%;
}
.formulario-registro{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario-registro-main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    /*padding: 5% 0;*/
    justify-content: center;
    background-color: #d6d6d6d6;
    }
    /*@media(min-width:1280px){
        .formulario-registro-main{
            height: 43rem;
        }
    }
    @media(min-width:1920){
        .formulario-registro-main{
            height: 40rem;
        }
    }*/

.formulario-registro-main .contenedor-seleccion-perfil{
    width: 45%;
    margin: 4%;
}
.formulario-registro-main .contenedor-seleccion-perfil select{
    width: 100%;
}
.formulario-registro-main .contenedor-seleccion-perfil button{
    width: 100%;
    margin: 5% auto;
}
.formulario-registro-main .contenedor-formularios{
    width: 100%;
}
.formulario-registro form{
    background-color: #d6d6d6d6;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.formulario_input-error{
    color: #bb2929;
}
.formulario_grupo-correcto .formulario_validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
	color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
	border: 3px solid #bb2929;
}
form div input{
    width: 80%;
}
input{
    margin-bottom: 0.625rem;
    margin-top: 0.125rem ;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
footer{
    background-color: #003399;
    color: #ffffff;
    height: 100%;
}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
}
footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    background-color: #003399; 
    
}
footer .icono-footer{
    height: 5rem;
    display: flex;
    align-items: center;
    
}
.icono-footer img{
    height: 50%;
}
button{
    width: 45%;
    margin: 4%;
}
.contenedorContraseña {
    display: inline-flex;
    border: 2px solid #d6d6d6;
    border-radius: 10px;
    padding: 10 px;

}
.icon{
    height: 1rem;
    margin: 5px;
    cursor: pointer;
}
.ocultarDiv{
    display: none;
}
