<!DOCTYPE html>
<html lang="en">
 <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content = "width=device-width", initiañ-scale=1.0>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
       <title> O & T</title>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="../css/barberos_usuario.css">
    </head>
    <Body> 
        <header>
            <div class="contenedor-encabezado">  <!--Encabezado Azul-->
                <div class="logo">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <div class="nombre">
                    <h1> O & T </h1>
                </div>
            </div>
           <div class="contenedor_menu"> <!--Encabezado rojo-->
                <div class="menu">
                    <nav>
                        <ul>
                         <li><a href="index_usuario.html">Inicio</a></li>
                         <li><a href="LocalesUsuario.html">Locales</a></li>
                         <li><a href="miperfil_usuario.html">Mi perfil</a></li>
                         <li><a href="quienessomos.html">¿Quienes somos?</a></li>
                        </ul>
                    </nav>
                </div>
           </div>
       </header>
       <section id="presenta">
       <div class="section">
        <div class="parrafo">
              <h1>Barbero Andres</h1>
              <p>Mi nombre es Andres padilla soy reconocido como barbero y estilista con más 
                 de 15 años de experiencia en la industria de la barbería.A los 18 años, Juan Carlos inició su carrera como aprendiz en
                 una pequeña barbería de su barrio. Durante ese tiempo, no solo aprendió los secretos del oficio, sino que también 
                 desarrolló un enfoque único hacia el cuidado personal masculino.
                 <br>
                 <br><b>si quieres conocer un poco de mi trabajo dale clicl en ver mas..</b></p>
              <br><a href="Infobarbero.html"><b>VER MAS..</b></a>    <!--Boton para ver sobre el barbero-->
        </div>
        <img src="../img/Chico.png">
       </div>
       <div class="sectio">
        <img src="../img/Chico2.png">
        <div class="parraf">
              <h1>Barbero Victor</h1>
              <p>Mi nombre es Victor Parra soy reconocido como barbero y estilista con más 
                 de 15 años de experiencia en la industria de la barbería.A los 18 años, Juan Carlos inició su carrera como aprendiz en
                 una pequeña barbería de su barrio. Durante ese tiempo, no solo aprendió los secretos del oficio, sino que también 
                 desarrolló un enfoque único hacia el cuidado personal masculino.
                 <br>
                 <br><b>si quieres conocer un poco de mi trabajo dale clicl en ver mas..</b></p>
              <br><a href="Infobarbero.html"><b>VER MAS..</b></a>    <!--Boton para ver sobre el barbero-->
        </div>
       </div>
       <div class="section">
        <div class="parrafo">
              <h1>Barbero Felipe</h1>
              <p>Mi nombre es Felipe Andrade soy reconocido como barbero y estilista con más 
                 de 15 años de experiencia en la industria de la barbería.A los 18 años, Juan Carlos inició su carrera como aprendiz en
                 una pequeña barbería de su barrio. Durante ese tiempo, no solo aprendió los secretos del oficio, sino que también 
                 desarrolló un enfoque único hacia el cuidado personal masculino.
                 <br>
                 <br><b>si quieres conocer un poco de mi trabajo dale clicl en ver mas..</b></p>
              <br><a href="Infobarbero.html"><b>VER MAS..</b></a>    <!--Boton para ver sobre el barbero-->
        </div>
        <img src="../img/Chico3.png">
       </div>
       <div class="sectio">
        <img src="../img/Chico4.png">
        <div class="parraf">
              <h1>Barbero Miguel</h1>
              <p>Mi nombre es Miguel Ruiz soy reconocido como barbero y estilista con más 
                 de 15 años de experiencia en la industria de la barbería.A los 18 años, Juan Carlos inició su carrera como aprendiz en
                 una pequeña barbería de su barrio. Durante ese tiempo, no solo aprendió los secretos del oficio, sino que también 
                 desarrolló un enfoque único hacia el cuidado personal masculino.
                 <br>
                 <br><b>si quieres conocer un poco de mi trabajo dale clicl en ver mas..</b></p>
              <br><a href="Infobarbero.html"><b>VER MAS..</b></a>    <!--Boton para ver sobre el barbero-->
        </div>
       </div>
    </section>
       
       <footer>   <!--Footer datos personales de la organizacion de la pagina-->
        <ul>
            <li>Contactenos</li>
            <li>Organiacion&Tiempo@outlook.com.co</li>
            <li> @2024 O&T </li>
            <div>
                <div class="icono-footer"><img src="../img/facebook.png" alt="icono facebook"></div>
                <div class="icono-footer"><img src="../img/instagram.png" alt="icono Instagram"></div>
                <div class="icono-footer"><img src="../img/whatsapp.png" alt="icono WhatsApp"></div>
            </div>
        </ul>
    </footer>
       </div>
    </Body>
</html>