<!DOCTYPE html>
<html lang="en">
 <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content = "width=device-width", initiañ-scale=1.0>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
       <title> O & T</title>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="../css/inicio.css">
    </head>
    <Body> 

        <header>
            <div class="contenedor-encabezado">
                <div class="logo">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <div>
                    <h1> O & T </h1>
                </div>
            </div>
           <div class="contenedor_menu">
                <div class="menu">
                    <nav>
                        <ul>
                         <li><a href="#">Inicio</a></li>
                         <li><a href="registros.html">Regristrate</a></li>
                         <li><a href="inicioSesion.html">Inicia sesion</a></li>
                         <li><a href="#">Quienes somos?</a></li>
                        </ul>
                    </nav>
                    <div class="search"> 
                        <input type="search" placeholder="¿Que deseas buscar?">
                    </div>
                </div>
           </div>
       </header>
       <section id="presenta">
       <h1 class="org">ORGANIZACION Y TIEMPO</h1</div>
       </section> 
    </Body>
</html>