<!DOCTYPE html>
<html lang="en">
 <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content = "width=device-width", initiañ-scale=1.0>
       <title> O & T</title>
       <link rel="stylesheet" href="Estilo.CSS">
    </head>
    <Body> 

       <header>
           <div class="header_superior">
                <div class="logo">
                    <img src="IMG/Logo.png" alt="">
                </div>
                <div class="search"> 
                    <input type="search" placeholder="¿Que deseas buscar?">
                </div>
           </div> 
           <div class="contenedor_menu">
                <div class="menu">
                    <nav>
                        <ul>
                         <li><a href="#">Inicio</a></li>
                         <li><a href="#">Regristrate</a>
                            <ul>
                                <li><a href="#">Registrarse como usuario</a></li>
                                <li><a href="#">Registrarse como negocio</a></li>
                                <li><a href="#">Registrarse como barbero</a></li>
                            </ul>
                        </li>
                         <li><a href="#">Inicia sesion</a></li>
                         <li><a href="#">Quienes somos?</a></li>
                        </ul>
                    </nav>
                </div>
           </div>
       </header>
       <section id="presen">
        <h1>ORGANIZACION Y TIEMPO</h1>
     </section> 
     <section id="presentacion">
        <div class="conten">
          <div class="img-contenido"></div>
     </section>

    </Body>
</html>