<!DOCTYPE html>
<html lang="en">
 <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content = "width=device-width", initiañ-scale=1.0>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
       <title> O & T</title>
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
       <link rel="stylesheet" href="../css/quienessomos.css">
    </head>
    <Body> 

        <header>
            <div class="contenedor-encabezado">  <!--Encabezado Azul-->
                <div class="logo">
                    <img src="../img/logo.png" alt="logo">
                </div>
                <div class="nombre">
                    <h1> O & T </h1>
                </div>
                <div class="search"> 
                    <input type="search" placeholder="¿Que deseas buscar?">
                </div>
            </div>
           <div class="contenedor_menu"> <!--Encabezado rojo-->
                <div class="menu">
                    <nav>
                        <ul>
                            <li><a href="indexnegocio.html">Inicio</a></li>
                            <li><a href="localesnegocio.html">Locales</a></li>
                            <li><a href="agenda_negocio.html">Agenda</a></li>
                            <li><a href="mipersonal_negocio.html">Mi personal</a></li>
                            <li><a href="mibarberia_negocio.html">Mi barberia</a></li>
                            <li><a href="quienessomos_negocio.html">¿Quienes somos?</a></li>
                            <li><a href="locales_negocio.html">Basilos</a></li>
                        </ul>
                    </nav>
                </div>
           </div>
       </header>
       <section id="presenta">  <!--Seccion de img con titulo-->   
       <h1 class="org">Style</h1>
       </section> 
       <section id="organizacion">  <!--Seccion de fondo blanco, img y texto-->
          <div class="casi">
               <div class="casilla"></div>
                <div class="texto">
                    <h1> Somos O&T (OrganizacionyTiempo) </h1>
                    <P>En cuanto a el objetivo del aplicativo O & T es dar una solución integral y eficiente para la gestión de turnos de barbería, optimizar el tiempo tanto para barberos como para clientes. A través de esta plataforma, buscamos facilitar la organización de horarios para los barberos, permitiendo la publicación de disponibilidad y la gestión de vínculos con cuentas de negocios. Y así mismo brindar a los clientes la capacidad de agendar y cancelar citas desde la comodidad de sus hogares, reduciendo el tiempo de espera en la barbería y mejorando la experiencia de servicio para todos los involucrados
                </div>
          </div>
       </section>
       <section id="mision">
        <div class="cassi">
            <div class="casill"></div>
             <div class="text">
                 <h1> Mision O&T </h1>
                 <P>Facilitar la gestión de citas y horarios para barberos y usuarios, mejorando la eficiencia y comodidad del servicio. Ofrecer una plataforma intuitiva que permita a los establecimientos promocionarse y optimizar su visibilidad a través de nuestra página web.
             </div>
       </div>
       </section>
       <section id="vision">
        <div class="cassil">
            <div class="casil"></div>
             <div class="tex">
                 <h1> Vision O&T </h1>
                 <P>Convertirnos en la plataforma líder en la gestión de servicios para barberos y establecimientos de belleza, proporcionando soluciones digitales que impulsen el crecimiento del sector y mejoren la experiencia del usuario.
             </div>
       </div>
       </section>
       <div>
       <footer>   <!--Footer datos personales de la organizacion de la pagina-->
        <ul>
            <li>Contactenos</li>
            <li>Organiacion&Tiempo@outlook.com.co</li>
            <li> @2024 O&T </li>
            <div>
                <div class="icono-footer"><img src="../img/facebook.png" alt="icono facebook"></div>
                <div class="icono-footer"><img src="../img/instagram.png" alt="icono Instagram"></div>
                <div class="icono-footer"><img src="../img/whatsapp.png" alt="icono WhatsApp"></div>
            </div>
        </ul>
    </footer>
       </div>
    </Body>
</html>