<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registro.css">
    <script type="text/javascript" src="../js/registro.js"></script>
</head>
<body>
    <title>Registrarse</title>
    <header>
        <div class="logo">
            <img src="../img/logo.png" alt="logo">
        </div>
        <div>
            <h1> O & T </h1>
        </div>
    </header>
    <div class="formulario-registro-main">
                <select name="opcionRegistro" id="opcionRegistro">
                <option value="registroBarbero">Registrarse como Barbero</option>
                <option value="registroNegocio">Registrarse como Negocio</option>
                <option value="registroUsuario">Registrarse como Usuario</option>
            </select>
            
            <button id="registrarse" onclick="mostrarForm()">Seleccionar Rol</button>
            <div class="formulario-registro" id="registroBarbero">
                <form action="#">
                    <h2>Registro Barbero</h2>
                    <label for="nombre">Nombres</label>
                    <input type="text" id="nombre" placeholder="Ingresa tu nombre o nombres">
                    <label for="nombre">Apellidos</label>
                    <input type="text" id="nombre" placeholder="Ingresa tus apellidos">
                    <label for="correo"> Numero Celular </label>
                    <input type="text" id="correo" placeholder="Ingresa tu numero celular">
                    <label for="correo"> Correo Electronico </label>
                    <input type="text" id="correo" placeholder="Ingresa tu correo electronico">    
                    <label> Foto de perfil </label>
                    <input type="file">
                    <label> Fotografias de tus servicios como Barbero (5 mim)</label>
                    <input type="file">
                    <label for="contraseña1">Digite una contraseña.<small>(Condiciones: 8 caracteres min. Al menos una letra mayuscula y un numero)</small></label>
                    <input type="password" id="contraseña1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <label for="contraseña2" > Confirme la contraseña creada</label>
                    <input type="password" id="contraseña2">
                    <br>
                    <div>
                        <label><strong>Acepto los términos y condiciones de O&T.com<br>y autorizo el tratamiento de mis datos personales</strong></label>
                        <input type="checkbox">
                    </div>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
            <div class="formulario-registro" id="registroNegocio">
                <form action="#">
                    <h2>Registro Negocio</h2>
                    <label for="nombre">Nombre del Local</label>
                    <input type="text" id="nombre" placeholder="Ingresa el nombre del local">
                    <label for="correo"> Numero Celular </label>
                    <input type="text" id="correo" placeholder="Ingresa tu numero celular">
                    <label for="correo"> Correo Electronico </label>
                    <input type="text" id="correo" placeholder="Ingresa tu correo electronico">
                    <label for="direccion">Direccion del local</label>
                    <input type="text" id="direccion" placeholder="Ingresa la direccion del local">    
                    <label> Foto de perfil o logo del local </label>
                    <input type="file">
                    <label> Fotografias del local por dentro y fuera (5 min)</label>
                    <input type="file"> 
                    <label for="contraseña1">Digite una contraseña<small>(Condiciones: 8 caracteres min. Al menos una letra mayuscula y un numero)</small></label>
                    <input type="password" id="contraseña1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <label for="contraseña2" > Confirme la contraseña creada</label>
                    <input type="password" id="contraseña2">
                    <div>
                        <label><strong>Acepto los términos y condiciones de O&T.com<br>y autorizo el tratamiento de mis datos personales</strong></label>
                        <input type="checkbox">
                    </div>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
            <div class="formulario-registro" id="registroUsuario">
                <form action="#">
                    <h2>Registro Usuario</h2>
                    <label for="nombre">Nombres</label>
                    <input type="text" id="nombre" placeholder="Ingresa tu nombre o nombres">
                    <label for="nombre">Apellidos</label>
                    <input type="text" id="nombre" placeholder="Ingresa tus apellidos">
                    <label for="correo"> Numero Celular </label>
                    <input type="text" id="correo" placeholder="Ingresa tu numero celular">
                    <label for="correo"> Correo Electronico </label>
                    <input type="text" id="correo" placeholder="Ingresa tu correo electronico">
                    <label> Foto de perfil </label>
                    <input type="file">
                    <label for="contraseña1">Digite una contraseña<small>(Condiciones: 8 caracteres min. Al menos una letra mayuscula y un numero)</small></label>
                    <input type="password" id="contraseña1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    <label for="contraseña2" > Confirme la contraseña creada</label>
                    <input type="password" id="contraseña2">
                    <div>
                        <label><strong>Acepto los términos y condiciones de O&T.com<br>y autorizo el tratamiento de mis datos personales</strong></label>
                        <input type="checkbox">
                    </div>
                    <input type="submit" value="Registrarse">
                </form>
            </div>
            <div id="form">
        
            </div>
            <button onclick="ocultarFormulario()">Volver</button>

    </div>

            <footer>
                <ul>
                    <li>Contactenos</li>
                    <li>Organiacion&Tiempo@outlook.com.co</li>
                    <div>
                        <div class="icono-footer"><img src="../img/facebook.png" alt="icono facebook"></div>
                        <div class="icono-footer"><img src="../img/instagram.png" alt="icono Instagram"></div>
                        <div class="icono-footer"><img src="../img/whatsapp.png" alt="icono WhatsApp"></div>
                    </div>
                </ul>
            </footer>
</body>
</html>
