<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registro.css">
    <script type="text/javascript" src="../js/registro.js"></script>
</head>
<body>
    <title>Registrarse</title>
    <header>
        <div class="logo">
            <img src="../img/logo.png" alt="logo">
        </div>
        <div>
            <h1> O & T </h1>
        </div>
    </header>
    <div class="formulario-registro">
                <select name="registro" id="registro">
                <option value="registroBarbero">Registrarse como Barbero</option>
                <option value="registroNegocio">Registrarse como Negocio</option>
                <option value="registroUsuario">Registrarse como Usuario</option>
            </select>
            <button id="registrarse" onclick="mostrarForm()">Seleccionar Rol</button>
            <div id="form">
        
            </div>
            <button onclick="ocultarFormulario()">Volver</button>
    </div>

            <footer>
                <ul>
                    <li>Contactenos</li>
                    <li>Organiacion&Tiempo@outlook.com.co</li>
                    <div>
                        <div class="icono-footer"><img src="../img/facebook.png" alt="icono facebook"></div>
                        <div class="icono-footer"><img src="../img/instagram.png" alt="icono Instagram"></div>
                        <div class="icono-footer"><img src="../img/whatsapp.png" alt="icono WhatsApp"></div>
                    </div>
                </ul>
            </footer>
</body>
</html>
