<html>
    <head>
        <title> Registro Negocio </title>
        <div class="formulario-registro">
            <form action="#">
                <h2>Registro Negocio</h2>
                <label for="nombre">Nombre del Local</label>
                <input type="text" id="nombre" placeholder="Ingresa el nombre del local">
                <label for="correo">Correo Electronico o Numero Celular</label>
                <input type="text" id="correo" placeholder="Ingresa el correo o numero celular">
                <label for="direccion">Direccion del local</label>
                <input type="text" id="direccion" placeholder="Ingresa la direccion del local">    
                <label> Foto de perfil o logo del local </label>
                <input type="file">
                <label> Fotografias del local por dentro y fuera (5 min)</label>
                <input type="file"> 
                <label for="contraseña1">Digite una contraseña</label>
                <input type="password" id="contraseña1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <label for="contraseña2" > Confirme la contraseña creada</label>
                <input type="password" id="contraseña2">
                <div>
                    <label><strong>Acepto los términos y condiciones de O&T.com<br>y autorizo el tratamiento de mis datos personales</strong></label>
                    <input type="checkbox">
                </div>
                <input type="submit" value="Registrarse">
            </form>
        </div>
    </body>
</html>