<html>
    <head>
        <title> Registro Negocio </title>
    </head>
    <body>
        <h1>Registro Negocio</h1>
        <form action="#">
            <label for="nombre">Nombre del Local</label>
            <input type="text" id="nombre">
            <br>
            <label for="correo">Correo Electronico o Numero Celular</label>
            <input type="text" id="correo">
            <br>
            <label for="direccion">Direccion del local</label>
            <input type="text" id="direccion">
            <br>
            <label> Foto de perfil del local o logo </label>
            <input type="image">
            <br>
            <label> Inserte minimo cinco (5) fotografias del local por dentro y fuera </label>
            <input type="image"> 
            <br>
            <label for="contraseña">Contraseña 8 caracteres minimo</label>
            <input type="password" minlength="8" id="contraseña">
            <br>
            <label> Acepta términos y condiciones </label>
            <input type="checkbox">
            <br>
            <input type="submit" value="Registrarse">
        </form>
    </body>
</html>